/* Base Styles CSS Start */

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.pt-65 {
  padding-top: 65px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-115 {
  padding-top: 115px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-115 {
  padding-bottom: 115px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-75 {
  margin-bottom: 75px;
}

/* Base Styles CSS End */

/* Header Part CSS Start */

/* Header Navigation Section CSS Start */

/* Header Top Bar Section CSS Start */

.header-topbar .container-fluid {
  padding-left: 150px;
  padding-right: 150px;
}

.header-topbar {
  padding: 15px 0 5px;
}

.header-topbar .top-right {
  float: right;
}

.topbar-social-link li span {
  font-size: 15px;
  font-weight: 600;
  color: #0d0d0d;
}

.topbar-social-link li a i {
  font-size: 15px;
  color: #676767;
  padding-left: 10px;
  transition: all 0.3s ease-out 0s;
}

.topbar-social-link li a i:hover {
  color: #ff344f;
}

.top-content p {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #676767;
}

.top-content p a {
  color: #ff344f;
  text-decoration: underline;
  text-underline-position: under;
}

.top-right ul li {
  position: relative;
}

.top-right ul li::after {
  content: "|";
  margin-left: 15px;
  margin-right: 10px;
  color: #dcdedf;
}

.top-right ul li:last-child::after {
  display: none;
}

.top-right ul li a {
  color: #676767;
  transition: all 0.3s ease-out 0s;
}

.top-right ul li a:hover {
  color: #ff344f;
}

.top-right ul li a i {
  padding-right: 5px;
}

/* Header Top Bar Section CSS End */

/* Main Menu Section CSS Start */

.primary-menu-wrapper .container-fluid {
  padding-left: 150px;
  padding-right: 150px;
}

.primary-menu {
  background-color: #f7f7f7;
  position: relative;
  z-index: 999;
}

.primary-menu-wrapper.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-animation: sticky 1.2s;
  animation: sticky 1.2s;
}

@keyframes sticky {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.site-branding .brand-logo {
  padding: 21px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff344f;
}

.main-menu ul {
  display: flex;
}

.main-menu ul li {
  position: relative;
  margin: 0 20px;
}

.main-menu ul li a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  color: #0d0d0d;
  padding: 32px 0;
  line-height: 1;
  transition: all 0.3s ease-out 0s;
}

.main-menu ul li:hover > a {
  color: #ff344f;
}

.header-right-nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.main-btn {
  display: inline-flex;
  position: relative;
  z-index: 1;
  background-color: #ff344f;
  padding: 16px 40px;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  border-radius: 3px;
  overflow: hidden;
}

.main-btn::before {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #0d0d0d;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.main-btn:hover:before {
  bottom: 0;
}

.hero-nav-btn i {
  padding-left: 5px;
  margin-top: 6px;
}

.header-right-nav ul li {
  margin-left: 20px;
}

.header-right-nav ul li .main-btn {
  padding: 14px 36px;
  border-radius: 28px;
  color: #fff;
}

.header-right-nav ul li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background-color: #ffd74e;
  color: #0d0d0d;
  border-radius: 50%;
}

.navbar-toggler {
  cursor: pointer;
}

.navbar-toggler span {
  position: relative;
  display: block;
  width: 30px;
  height: 1px;
  background: #000000;
  border-radius: 5px;
  transition: all 0.1s ease;
}

.navbar-toggler.active span {
  background: transparent;
}

.navbar-toggler span::before,
.navbar-toggler span::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navbar-toggler span::before {
  transform: translateY(-8px);
}

.navbar-toggler.active span::before {
  transform: rotate(45deg);
}

.navbar-toggler span::after {
  transform: translateY(8px);
}

.navbar-toggler.active span::after {
  transform: rotate(135deg);
}

.navbar-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  background: #ff344f;
  line-height: 40px;
  cursor: pointer;
  z-index: 12;
}

/* Main Menu Section CSS Ens */

/* Header Navigation Section CSS End */

/* Hero Section CSS Start */

.hero-wrapper {
  position: relative;
  margin-top: -50px;
  padding: 220px 0 270px;
}

.hero-wrapper:before {
  position: absolute;
  content: "";
  width: 56.5%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/hero-left.jpg) no-repeat 50%;
  background-size: cover;
}

.hero-wrapper:after {
  position: absolute;
  content: "";
  width: 43.5%;
  height: 100%;
  top: 0;
  right: 0;
  background: url(../images/hero-right.jpg) no-repeat 50%;
  background-size: cover;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 90px;
  line-height: 90px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 22px;
}

.hero-content h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 45px;
}

.hero-content .hero-search-wrapper {
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 45px;
}

.form_control {
  width: 100%;
  height: 70px;
  background-color: #f7f7f7;
  padding: 0 20px;
  border: none;
  border-radius: 3px;
}

.form_control:focus {
  outline: none;
}

.hero-content .hero-search-wrapper form .main-btn {
  display: block;
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 20px 20px;
  border: none;
}

.form_group {
  position: relative;
}

.form_group i {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  color: #b1b1b1;
}

.hero-content .hero-search-wrapper form .main-btn i {
  padding-left: 5px;
  margin-top: 6px;
}

.hero-content p.tags,
p.tags a {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  color: #0d0d0d;
  font-weight: 500;
}

.hero-content p.tags span {
  margin-right: 10px;
}

::placeholder {
  font-family: "Mulish", sans-serif;
}

/* Hero Section CSS End */

/* Category Section CSS Start */

.category-wrapper {
  position: relative;
  margin-top: -90px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 1.545px 4.755px 18.8px 1.2px rgb(30 33 62 / 6%);
  z-index: 2;
}

.category-column {
  position: relative;
}

.category-column::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #e8ebec;
}

.category-column:last-child::after {
  width: 0px;
}

.category-item-common {
  position: relative;
  padding: 50px 30px;
}

.category-item .info {
  transition: all 0.3s ease-out 0s;
}

.category-item .info i {
  font-size: 60px;
  color: #b1b1b1;
  line-height: 1;
}

.category-item .info h6 {
  font-size: 16px;
  font-weight: 700;
  color: #0d0d0d;
  padding-top: 10px;
  margin: 0;
}

.category-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff344f;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out 0s;
}

.category-btn i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffd74e;
  color: #0d0d0d;
}

.category-item:hover .info i {
  color: #ff344f;
}

.category-item:hover .info {
  transform: translateY(-30px);
}

.category-item:hover .category-btn {
  visibility: visible;
  opacity: 1;
}

/* Category Section CSS End */

/* Header Part CSS End */

/* Main Part CSS Start */

/* Destination Section CSS Start */

.listing-item {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.listing-grid-one {
  box-shadow: 0 0 10px 0 rgb(36 37 51 / 8%);
}

.section-title span.sub-title {
  position: relative;
  display: block;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ff344f;
  margin-bottom: 17px;
}

.section-title span.sub-title:after,
.section-title span.sub-title:before {
  display: inline-block;
  content: "..";
}

.section-title span.sub-title:before {
  margin-right: 7px;
}

.section-title span.sub-title:after {
  margin-left: 7px;
}

.section-title h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 20px;
}

.listing-item .listing-thumbnail {
  position: relative;
}

.listing-item .listing-thumbnail img {
  max-width: 100%;
  width: 100%;
}

.listing-thumbnail .featured-btn {
  position: absolute;
  top: -15px;
  right: 50%;
  transform: translateX(50%);
}

.featured-btn {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  padding: 5px 14px;
  background: #ff344f;
  color: #ffffff;
}

.listing-thumbnail .featured-btn:after {
  position: absolute;
  top: 0;
  right: -13px;
  width: 0;
  height: 0;
  content: "";
  border-bottom: 15px solid #ff344f;
  border-right: 13.01px solid transparent;
}

.listing-thumbnail .thumbnail-meta {
  background-color: #ffd74e;
  padding: 8px 30px 8px 20px;
  width: 80%;
  -webkit-clip-path: polygon(0 0, 100% 0, 98% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 98% 100%, 0 100%);
  margin-top: -31.5px;
}

.thumbnail-meta .meta-icon-title .icon {
  min-width: 45px;
  max-width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #ff344f;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
}

.meta-icon-title h6 {
  font-size: 16px;
  font-weight: 700;
  color: #0d0d0d;
  margin: 0;
}

span.status {
  padding: 5px 10px;
  float: right;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 13px;
}

span.status.st-open {
  background-color: #35c54c;
}

span.status.st-close {
  background-color: #ff344f;
}

.listing-grid-one .listing-content {
  border-radius: 0 0 3px 3px;
  background-color: #fff;
  padding: 22px 30px 23px;
}

.listing-content .title a {
  font-size: 20px;
  font-weight: 700;
  color: #0d0d0d;
  transition: all 0.3s ease-out 0s;
}

.listing-content .title a:hover {
  color: #ff344f;
}

.listing-content ul.rating {
  margin-bottom: 10px;
}

.listing-content ul.rating a {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  color: #676767;
}

.ratings .rating {
  display: flex;
  margin-bottom: 10px;
}

.ratings .rating li.star i {
  color: #676767;
}

.ratings .rating li.star:first-child i,
.ratings .rating li.star:nth-child(2) i,
.ratings .rating li.star:nth-child(3) i {
  color: #ff344f;
}

.listing-content span.price {
  display: block;
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #0d0d0d;
  margin-bottom: 15px;
}

.listing-content span.phone-meta {
  display: block;
  margin-bottom: 12px;
}

.listing-content span.phone-meta a {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  color: #676767;
}

.listing-content span.phone-meta i {
  color: #676767;
  padding-right: 5px;
}

.listing-content .listing-meta {
  padding-top: 15px;
  border-top: 1px solid #dfdfdf;
}

.listing-content .listing-meta ul {
  display: flex;
  justify-content: space-between;
}

.listing-content .listing-meta ul li span,
.listing-content .listing-meta ul li span a {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  color: #676767;
}

.listing-content .listing-meta ul li span i {
  padding-right: 5px;
  color: #f50056;
}

/* Destination Section CSS End */

/* CTA Section CSS Start */

.cta-wrapper {
  position: relative;
  z-index: 1;
  padding: 120px 0;
}

.cta-wrapper:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 31, 0.75);
  z-index: -1;
}

.bg_cover {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-content img {
  margin-bottom: 30px;
}

.cta-content h2 {
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 40px;
}

.cta-content .main-btn {
  color: #ffffff;
}

.cta-content .main-btn i {
  padding-left: 5px;
  margin-top: 6px;
}

/* CTA Section CSS End */

/* Features Section CSS Start */

.features-wrapper .features-img {
  margin-right: 70px;
  z-index: 1;
  position: relative;
}

.features-wrapper .features-img:after {
  position: absolute;
  bottom: -25px;
  right: -25px;
  content: "";
  width: 180px;
  height: 180px;
  background-color: #ffd74e;
  z-index: -1;
}

.features-content h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 35px;
  color: #ff344f;
}

.features-list .list-item .content h5 {
  margin-bottom: 10px;
}

.features-list .list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

.features-list .list-item p {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  color: #676767;
  margin-bottom: 0;
}

.features-list .list-item .icon {
  position: relative;
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff344f;
  margin-right: 30px;
  margin-top: 5px;
  border-radius: 3px;
}

.features-list .list-item .icon:before {
  position: absolute;
  top: -6px;
  left: -6px;
  content: "";
  width: 60px;
  height: 60px;
  border: 1px solid #ff344f;
  border-radius: 3px;
}

.features-list .list-item .icon i {
  font-size: 30px;
  line-height: 1;
  color: #ffffff;
}

/* Features Section CSS End */

/* Featured Place Section CSS Start */

.place-container {
  padding: 0 150px;
}

.place-item .place-thumbnail {
  position: relative;
  overflow: hidden;
}

.place-item .place-thumbnail img {
  max-width: 100%;
  width: 100%;
}

.place-item {
  transition: all 0.3s ease-out 0s;
}

.place-item .place-thumbnail .place-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 40px;
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out 0s;
}

.place-item:hover .place-overlay {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.place-item .place-thumbnail .place-overlay .place-content {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  padding: 40px 15px;
  border-radius: 3px;
  background: hsla(0, 0%, 100%, 0.9);
  box-shadow: 0 0 30px 0 rgb(0 5 63 / 10%);
  visibility: hidden;
  opacity: 1;
  transition: all 0.3s ease-out 0s;
}

.place-item:hover .place-overlay .place-content {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}

.place-item .place-thumbnail .place-content span.listing {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #ffffff;
  background: #ff344f;
  padding: 5px 23px;
  border-radius: 15px;
}

.place-item .place-thumbnail .place-content h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 15px 0;
}

.place-item .place-thumbnail .place-content .arrow-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #ffd74e;
  color: #0d0d0d;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Featured Place Section CSS End */

/* Destination Two Section CSS Start */

.listing-grid-item-two .listing-thumbnail .cat-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 46px;
  height: 46px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #ff344f;
  font-size: 20px;
}

.listing-grid-item-two .listing-thumbnail .featured-btn2 {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  padding: 5px 14px;
  color: #ffffff;
  background: #ff344f;
}

.listing-grid-item-two .ratings {
  position: absolute;
  left: 20px;
  bottom: 25px;
}

.listing-grid-item-two .ratings i,
.listing-grid-item-two .ratings span a {
  color: #f7f7f7;
  padding-right: 2px;
}

.ratings-three .star:first-child i,
.ratings-three .star:nth-child(2) i,
.ratings-three .star:nth-child(3) i {
  color: #ff344f;
}

.ratings-four .star:first-child i,
.ratings-four .star:nth-child(2) i,
.ratings-four .star:nth-child(3) i,
.ratings-four .star:nth-child(4) i {
  color: #ff344f;
}

.ratings-five .star i {
  color: #ff344f;
}

.listing-grid-item-two .listing-content {
  background: #ffffff;
  padding: 20px 30px 25px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 0 10px 0 rgb(36 37 51 / 8%);
}

/* Destination Two Section CSS End */

/* Vacation Section CSS Start */

.vacation-wrapper {
  position: relative;
  background: url(../images/bg/video-bg-1.jpg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 120px;
  z-index: 1;
}

.vacation-wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 31, 0.6);
  z-index: -1;
}

.vacation-content .sub-title,
.vacation-content h2,
.vacation-content p {
  color: #ffffff !important;
}

.vacation-content .main-btn {
  color: #000000;
  background: #ffd74e;
}

.vacation-content .main-btn:hover {
  color: #ffffff;
}

.vacation-content .main-btn i {
  padding-left: 5px;
  margin-top: 6px;
}

/* Vacation Section CSS End */

/* Recommend Section CSS Start */

.recommend-listing .listing-thumbnail {
  max-width: 32%;
  width: 100%;
}
.recommend-listing .listing-content {
  width: 100%;
}

/* Recommend Section CSS End */

/* Client Section CSS Start */

#Client {
  border-bottom: 5px solid #e9eaec;
}

.client-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.client-img {
  padding-bottom: 50px;
}

.client-items .client-img img {
  margin: auto;
  opacity: 0.5;
  filter: grayscale(100%);
  transition: all 0.3s ease-out 0s;
}

.client-items .client-img:hover img {
  opacity: 1;
  filter: grayscale(0);
}

/* Client Section CSS End */

/* Blog Section CSS Start */

.blog-post-item-one .post-thumbnail {
  position: relative;
}

.blog-post-item-one .post-thumbnail img {
  width: 100%;
}

.blog-post-item-one .post-thumbnail .post-date {
  position: absolute;
  right: 10px;
  top: 10px;
}

.blog-post-item-one .post-thumbnail .post-date a {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #f31b38;
}

.blog-post-item-one .post-thumbnail .post-date a span {
  font-family: Mulish, sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.blog-post-item-one .entry-content {
  position: relative;
  padding: 30px 35px;
  background-color: #fff;
  box-shadow: 1.545px 4.755px 18.8px 1.2px rgb(30 33 62 / 6%);
  margin-left: 20px;
  margin-top: -50px;
  border-radius: 10px 0 0 10px;
}

.blog-post-item-one .entry-content .cat-btn {
  display: block;
  font-family: Mulish, sans-serif;
  font-size: 15px;
  color: #676767;
  margin-bottom: 5px;
  transition: all 0.3s ease-out 0s;
}

.blog-post-item-one .entry-content .cat-btn i {
  padding-right: 8px;
}

.blog-post-item-one .entry-content .cat-btn:hover {
  color: #ff344f;
}

.blog-post-item-one .entry-content h3.title a {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
  transition: all 0.3s ease-out 0s;
}

.blog-post-item-one .entry-content h3.title a:hover {
  color: #ff344f;
}

.blog-post-item-one .entry-content .post-meta ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-content .post-meta span a {
  font-family: Mulish, sans-serif;
  font-size: 15px;
  color: #676767;
  margin-bottom: 5px;
  transition: all 0.3s ease-out 0s;
}

.entry-content .post-meta span a:hover {
  color: #ff344f;
}

.entry-content .post-meta i {
  color: #ff344f;
  padding-right: 8px;
}

.blog-wrapper .main-btn {
  color: #ffffff;
}

.blog-wrapper .main-btn i {
  padding-left: 5px;
  margin-top: 6px;
}

/* Blog Section CSS End */

/* Main Part CSS End */

/* Footer Section CSS Start */

.footer-wrapper {
  background: #121416;
}

.footer-social h4,
.footer-widget .widget h4.widget-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 25px;
}

.footer-social ul.social-link li {
  margin-right: 10px;
}

.footer-social ul.social-link li a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: hsla(0, 0%, 100%, 0.1);
  transition: all 0.3s ease-out 0s;
}

.footer-social ul.social-link li a:hover {
  background: #ff344f;
}

.post-title-date span.posted-on {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.post-title-date span.posted-on a {
  color: #676767;
}

.post-title-date h6.title {
  font-size: 15px;
  line-height: 24px;
}

.post-title-date h6.title a {
  color: #ffffff;
  transition: all 0.3s ease-out 0s;
}

.post-title-date h6.title a:hover {
  color: #ff344f;
}

.categories-link li {
  margin-bottom: 10px;
}

.categories-link li a {
  font-family: Mulish, sans-serif;
  font-size: 15px;
  color: #ffffff;
  transition: all 0.3s ease-out 0s;
}

.categories-link li a i {
  padding-right: 10px;
}

.categories-link li a:hover {
  color: #ff344f;
}

.newsletter-widget p,
.copyright-text p {
  font-family: Mulish, sans-serif;
  font-size: 15px;
  color: #ffffff;
  margin: 0;
}

.newsletter-widget form .form_control {
  height: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.newsletter-widget form .main-btn {
  color: #0d0d0d;
  background: #ffd74e;
  border-radius: 30px;
}

.newsletter-widget form .main-btn:hover {
  color: #ffffff;
}

.newsletter-widget form .main-btn:hover::before {
  background-color: #ff344f;
}

.copyright-area {
  border-top: 1px solid hsla(216, 8%, 88%, 0.15);
  padding: 25px 0;
}

.copyright-text p span {
  font-weight: 700;
  color: #ffd74e;
}

.copyright-link ul {
  display: flex;
  justify-content: flex-end;
}

.copyright-area .copyright-link ul li::after {
  display: inline-block;
  content: "|";
  color: #aaaaaa;
  margin-left: 7px;
  margin-right: 5px;
}

.copyright-area .copyright-link ul li:last-child::after {
  content: "";
}

.copyright-link ul li a {
  font-family: Mulish, sans-serif;
  font-size: 15px;
  color: #aaaaaa;
  transition: all 0.3s ease-out 0s;
}

.copyright-link ul li a:hover {
  color: #ff344f;
}

/* Footer Section CSS End */
